<h3> Artist Profile </h3>
<h1> <%= @artist.title %></h1>
<p> Description: <%= @artist.description %> </p>
<p> Genre: TBC </p>
<br>
<p> <img src='<%= @artist.image %>' alt='Picture of <%= @artist.title %>' > </p>
<p> <% if can? :manage, @artist %>
 <%= link_to('Edit', edit_artist_path(@artist)) %>
 <%= link_to('Delete', artist_path(@artist), method: :delete, data: {confirm: 'Are you sure?'}) %>
<% end %>

