<h1> List of Venues </h1>

  <%= @venue.name %>
  <p> <%= @venue.add_1 %> </p>
  <p> <%= @venue.add_2 %> </p>
  <p> <%= @venue.town %> </p>
  <p> <%= @venue.postcode %> </p>
<div class="div1">
  <img src='<%= @venue.image %>' alt='Picture of <%= @venue.name %>' > </p>
</div>

<p> <% if can? :manage, @venue %>
 <%= link_to('Edit', edit_venue_path(@venue)) %>
 <%= link_to('Delete', venue_path(@venue), method: :delete, data: {confirm: 'Are you sure - THERE MAY GIGS & BOOKINGS LINKED TO THIS VENUE!?'}) %>
<% end %>