<h1>Festival Gigs</h1>


  <table>
    <thead>
      <tr>
        <th>Artist</th>
        <th>Venue</th>
        <th>Date</th>
        <th>Time</th>
        <th>Show</th>
        <th>Book</th>
      </tr>
      </thead>
      <tbody>
    
          <% @gigs.each do |gig| %>
      <tr>
          <td><%= Artist.find(gig.artist_id).title %> </td>
          <td><%= Venue.find(gig.venue_id).name %></td> 
          <td><%= nice_date(gig.start_date) %> </td>
          <td><%= nice_time(gig.start_date) %> </td>
          <td><%= link_to("Show", gig_path(gig)) %> </td> 
          <td><%= link_to("Book!", new_gig_booking_path(gig)) %> </td>
    <% end %>
     
    </tr>
    </tbody>
  </table> 
  