<!DOCTYPE html>
<html>
<head>
  <title>Festival Gigs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="normalize.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


  <nav>
    <ul>
      <div class='login'>
      <% if current_user %>
        <%= current_user.email %>
        <%= link_to "log out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path %>
        <%= link_to "Register", new_user_registration_path %>
      <% end %>

      
      <li> <%= link_to('Show Gigs', gigs_path) %> </li>
      <li> <%= link_to('Show Artists', artists_path) %> </li>
      <li> <%= link_to("Show Venues", venues_path) %> </li>
      <br>
      <li> <%= link_to("New Gig", new_gig_path) %> </li>
      <li> <%= link_to("New Artist", new_artist_path) %> </li>
      <li> <%= link_to("New Venue", new_venue_path) %> </li>
    </ul>
  </nav>

<%= yield %>

</body>
</html>
