<!DOCTYPE html>
<html>
<head>
  <title>Festival Gigs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


  <nav>
    <ul>
      <li> <%= link_to('User Login') %> </li>
      <br>
      <li> <%= link_to('Show Gigs', gigs_path) %> </li>
      <li> <%= link_to('Show Artists', artists_path) %> </li>
      <li> <%= link_to("Show Venues", venues_path) %> </li>
      <br>
      <li> <%= link_to("New Gig", new_gig_path) %> </li>
      <li> <%= link_to("New Artist", new_artist_path) %> </li>
      <li> <%= link_to("New Venue", new_venue_path) %> </li>
    </ul>
  </nav>

<%= yield %>

</body>
</html>
