<!DOCTYPE html>
<html>
<head>
  <title>Festival Gigs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="normalize.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href='https://fonts.googleapis.com/css?family=Lobster|Bangers|Signika:700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=' rel='stylesheet' type='text/css'>
</head>

<body>

<header>
<%= image_tag("DOR_logo3.png", class: "logo") %>
</header> 

  <nav>
    <div class='login'>
      <% if current_user %>
        <%= current_user.email %>
        <%= link_to "log out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path %>
        <%= link_to "Register", new_user_registration_path %>
      <% end %>

    <ul>
      <li><%= link_to('Show Gigs', gigs_path) %></li>
      <li><%= link_to('Show Artists', artists_path) %></li>
      <li><%= link_to("Show Venues", venues_path) %></li>
      <li><%= link_to("My Bookings", bookings_path) %></li>
      <br>
      <% if can? :manage, @all %>
      <li><%= link_to("New Gig", new_gig_path) %></li>
      <li><%= link_to("New Artist", new_artist_path) %></li>
      <li><%= link_to("New Venue", new_venue_path) %></li>
       <% end %>
    </ul>
    </div>
  </nav>
 
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
  <div class='container'>
    <%= yield %>
  </div>

</body>
</html>
